/*
Author: Nicholas Shaffer
Date: 4/23/19

APIs:
    https://pokeapi.co/
Links:
    Colors: https://www.schemecolor.com/pokemon-colors.php
    Font: https://fonts.googleapis.com/css?family=Press+Start+2P
*/

#get-pokemon {
    font-size: 1.5em;
}
#choices div {
    width: 100%;
    font-size: 1em;
    text-align: center;
}
#description {
    width: 100%;
    line-height: 1.2em;
    font-size: 1em;
}
#image-container {
    flex-direction: column;
}
#image {
    width: 70%;
}
#description {
    padding-top: 20px;
    text-align: center;
}
#feedback {
    font-size: 1em;
}