#ImgMe, #ImgJulia {
  float: none;
  display: block;
  padding-left: 15%;
  padding-right: 15%;
  width: 70%;
  height: inherit;
}
iframe {
  width:50%;
  height: inherit;
}
#AboutDiv {
  padding-top: 10px;
}
body {
  padding-left: 0px;
  padding-right: 0px;
}
