#ImgMe {
  float: none;
  display: block;
  padding-left: 15%;
  padding-right: 15%;
  width: 70%;
  height: inherit;
}
iframe {
  width:75%;
  height: inherit;
}
#AboutDiv {
  padding-top: 10px;

}
body {
  padding-left: 0px;
  padding-right: 0px;
}
table {
  border: none;
  width: 100%;
  height: 50px;
}
button {
  height: fill;
  width: fill;
}
