body {
	margin-left: 2%;
	margin-right: 2%
}

.content #DMS110Proj {
	padding-left: 2%;
	padding-right: 2%;
}

div#DMS110projectPage li {
	width: 50%;
}
div#DMS110projectPage a, #linkFont {
	/* font-size: 15px; */
}

.disableImgLink {
	text-align: center;
	line-height: 180px;
}
.disableImgLink a {
	background-color: rgb(180, 180, 180);
}
.project {
	line-height: 330px;
}
.project a {
	background-color: rgb(180, 180, 180);
}

.content #imgMe {
	width: 70%;
	display: block;
	float: none;
	padding-left: 15%;
	padding-right: 15%;
	padding-top: 2%;
}
.content img.projImg {
	width: 85%;
	display: block;
	float: none;
	padding-left: 7%;
	padding-right: 7%;
	padding-bottom: 10px;
}
