/* Everything */
body {
	margin-left: 2%;
	margin-right: 2%
}
.divide {
	margin-top: 10%;
}
/* -- */

/* Subpage Header */
.header .subpageMenu li a {
	width: 16%;
	margin-left: 1%;
	margin-right: 1%;
	padding-bottom: 40px;
	font-size: 15px;
}
/* -- */

/* "Home" Tab */
.content #imgMe {
	width: 70%;
	display: block;
	float: none;
	padding-left: 15%;
	padding-right: 15%;
	padding-top: 2%;
}
/* -- */

/* "Projects" Tab */
.content img.projImg {
	width: 85%;
	display: block;
	float: none;
	padding-left: 7%;
	padding-right: 7%;
	padding-bottom: 10px;
}
/* -- */

/* Project Page - Images Class */
.projectPageImages li {
	width: 100%;
	height: 250px;
	padding-bottom: 50px;
}
.projectPageImages .disableImgLink {
	width: 80%;
	padding-bottom: 0px;
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 20px;
	background-color: rgb(210, 210, 210);
	text-align: center;
	line-height: 250px;
}
.disableImgLink a {
	background-color: rgb(180, 180, 180);
}
.projectPageImages .project {
	height: 250px;
	line-height: 250px;
	padding-bottom: 0;
}
.projectPageImages .project a {
	background-color: rgb(180, 180, 180);
}
/* -- */