#activePg {
  background-color: #333
}
#ImgMe, #ImgJulia, #ImgSkyline {
  float: right;
  height: inherit;
  padding-right: 10%;
  padding-left: 5%;
}
body {
  padding-left: 2%;
  padding-right: 2%;
}
div {
  font-size: 20px;
}
iframe {
  padding-bottom: 25px;
}
.Proj {
  padding-bottom: 20%;
}
.divide {
  background-color: black;
  margin-left: 5%;
  margin-right: 5%;
  height: 1px;
  margin-top: 2%;
  margin-bottom: 5%;
}
.DMS110List li {
  list-style: none;
}
.hide {
  display: none;
}
.menu ul, .menuMobile ul, .menuMobile button {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: navy;
  border: none;
}
.menu li, .menuMobile li {
  float: right;
  border-left: 1px solid #bbb;
}
.menu li:last-child, .menuMobile li:last-child {
  float: left;
  border-left: none;
}
.menu li div, .menuMobile li div {
  font-weight: bold;
}
.menu li a, .menu li div, .menuMobile li div {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 26px;
}
.menu li a:hover:not(#BtnClk) {
  background-color: white;
  color: navy;
}
.dropdown ul {
  float: right;
  width: 50%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: absolute;
  right: 8px;
}
.dropdown li a {
  display: block;
  color: white;
  background-color:navy;
  padding: 8px 16px;
  text-decoration: none;
  font-size: 26px;
}
.dropdown li {
  right: 0;
  text-align: right;
  border-top: 1px solid #bbb;
}
