#h01 {
  background-color:navy;
  color: white;
  padding-top:25px;
  padding-bottom:25px;
  padding-left:15px;
}
#BtnClk {
  background-color: navy;
  color: white;
}
#ImgMe {
  float: right;
  width: 25%;
  height: inherit;
  padding-right: 10%;
  padding-left: 5%;
}
body {
  padding-left: 2%;
  padding-right: 2%;
}
div {
  font-size: 100px;
}
button {
  width: 100px;
  height: 50px;
  font-size: 100%;
}
iframe {
  padding-bottom: 25px;
}
.hamburger {
  width:30px;
  height:4px;
  background-color:white;
  border-radius:5px;
  position:absolute;
  float:right;
  right: 20px;
  top: 52px;
}
.hamburger:after, .hamburger:before {
  content: '';
  width: 100%;
  height:4px;
  background-color:white;
  position:absolute;
  border-radius:5px;
}
.hamburger:after {
  top:10px;
}
.hamburger:before {
  top:20px;
}
