#h01 {
  background-color:navy;
  color: white;
  padding-top:25px;
  padding-bottom:25px;
  padding-left:15px;
}

ul {
  font-size: 20px;
}

p {
  font-size: 20px;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

body {
  margin-right: 50px;
  margin-left: 50px;
}
